.sync-title {
  font-weight: 500;
  text-decoration: underline;
}
.sync-action {
  margin-top: 0.5rem;
}
.sync-target {
  display: block;
  margin-top: 0.5rem;
}
.sync-status {
  margin-top: 0.5rem;
}
.sync-target-input {
  width: 100%;
}
